<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {

 #hero-1836 .cs-image-group {
    /* scales the whole group based on the view width size and stop when that vales equals .74em, resets at desktop */
    font-size: min(2.32vw, .74em);
    width: 39.375em;
    height: 40.9375em;
    display: block;
    position: relative;
    z-index: 1;

    
  }

 #hero-1836 .cs-picture {
    position: absolute;
  }
 #hero-1836 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #hero-1836 .cs-picture1 {
    width: 19.0625em;
    height: auto;
    border: 4px solid #FFFFFF;
    top: 0;
    bottom: 17.5625em;
    left: 30px;
  }
   #hero-1836 .cs-picture2 {
    width: 25.8125em;
    height: auto;
    border: 4px solid #FFFFFF;
    top: 16.9375em;
    right: 30px;
    bottom: 30px;
  }
   #hero-1836 .cs-picture3 {
    width: 13.625em;
    height: 9.6875em;
    top: 5.25em;
    right: 4.6875em;
    border: 4px solid #FFFFFF;
  }
  #hero-1836 {
    /* 200px - 300px - leaving extra space for the navigation */
    padding: clamp(12.5rem, 25.95vw, 15.75em) 2rem;
    /* prevents the topper line from causing an overflow */
    overflow: hidden;
    position: relative;
    z-index: 1;
        background-color: #2c1b1b;
  }
  #hero-1836 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
  }
  #hero-1836 .cs-content {
    text-align: left;
    width: 100%;
    max-width: 46.875rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    z-index: 1;
  }
  #hero-1836 .cs-title {
    /* 49px - 84px */
    font-size: clamp(2.0625rem, 6vw, 5.25rem);
    max-width: 100%;
    
  }
  #hero-1836 .cs-title,
  #hero-1836 .cs-text {
    text-align: left;
    color: var(--bodyTextColorWhite);
  }
  #hero-1836 .cs-text {
    margin-bottom: 2rem;
  }
 
  #hero-1836 .cs-content-graphic {
    height: 305%;
    max-height: 81.25rem;
    width: auto;
    position: absolute;
    top: 50%;
    left: -350px;
    z-index: -1;
    transform: translateY(-50%);
    z-index: -3;
    opacity: .5;
  }
  #hero-1836 .cs-graphic {
    width: 100%;
    min-width: 120rem;
    height: auto;
    object-fit: cover;
    position: absolute;
    bottom: -1px;
    left: 50%;
    z-index: 2;
    transform: translateX(-50%);
  }
  #hero-1836 .cs-graphic-dark {
    display: none;
  }
  #hero-1836 .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    /* Overlay on the background image that gets removed at tablet+, in favour of the svg graphic */
  }
  #hero-1836 .cs-background:before {
    content: "";
    width: 100%;
    height: 100%;
    background: #000;
    /* prevents the cursor from interacting with it */
    pointer-events: none;
    opacity: 0.4;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  #hero-1836 .cs-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #hero-1836 .cs-background::before {
    content: none;
  }
}
/* Desktop Parallax - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-1836 .cs-background {
    
    background: url("/assets/images/bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* creates the parallax effect */
    background-attachment: fixed;
    opacity: .4;
  }
  #hero-1836 .cs-background img {
    display: none;
  }
}
/* Large Desktop - 1920px */
@media only screen and (min-width: 120rem) {
  #hero-1836 {
    /* this ties the padding bottom value to the size of the screen width. The wider the image gets the taller it gets, meaning it will get closer and closer to the content. This makes the padding bottom value grow with the screen size so it accounts for the growing height of the svg graphic getting taller */
    padding-bottom: 14vw;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-1836 .cs-background:before {
    opacity: 0.85;
  }
  body.dark-mode #hero-1836 .cs-graphic {
    display: none;
  }
  body.dark-mode #hero-1836 .cs-graphic-dark {
    display: block;
  }
}
                                
</style>

<section id="hero-1836">
    <div class="cs-container">
        <div class="cs-content">
            
            <h1 class="cs-title">Michigan Trusted Concrete Removal</h1>
            <span class="cs-topper">Fast, Affordable, & Done Right the First Time</span>
            <p class="cs-text">
              At A & A Outdoor LLC, we make concrete removal simple. No stress, no mess. Whether it’s a patio, sidewalk, garage floor, or foundation, our experienced crew clears it fast so you can move forward. We don’t stop there. From excavation and land clearing to grading and gravel installation, we help you prep your space for whatever’s next. 
            </p>
            <a href="" class="cs-button-solid">Free Estimate</a>
                 
    </div>
 <div class="cs-image-group"><picture class="cs-picture cs-picture1"><source media="(max-width: 600px)" srcset="/assets/images/bg3.jpg"><source media="(min-width: 601px)" srcset="/assets/images/bg3.jpg"><img height="366" src="/assets/images/bg3.jpg" alt="wedding photoshoot" decoding="async" width="297"></picture><picture class="cs-picture cs-picture2"><source media="(max-width: 600px)" srcset="/assets/images/bg2.jpg"><source media="(min-width: 601px)" srcset="/assets/images/bg2.jpg"><img height="376" src="/assets/images/bg2.jpg" alt="photograph of a woman" decoding="async" width="405"></picture><picture class="cs-picture cs-picture3"><source media="(max-width: 600px)" srcset="/assets/images/bg.jpg"><source media="(min-width: 601px)" srcset="/assets/images/bg.jpg"><img height="155" src="/assets/images/bg.jpg" alt="children's birthday" decoding="async" width="218"></picture></div>
          </div>
    <!-- Background Image -->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/bg.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/bg.jpg">
        <img loading="lazy" decoding="async" src="/assets/images/bg.jpg" alt="field" width="1920" height="1200" aria-hidden="true">
    </picture>

    <img class="cs-graphic" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/white-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
    <!--This is a dark version. Download the image and change the fill color to match the color of the section background below it-->
    <img class="cs-graphic cs-graphic-dark" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/dark-mode-splatter2.svg" alt="graphic" height="161" width="1920" loading="lazy" decoding="async" >
</section>
                                