<div class="cs-ul-wrapper">
                <ul id="cs-expanded" class="cs-ul" aria-expanded="false">
                    <li class="cs-li">
                        <a href="/" class="cs-li-link {% if page.url == "/" %} cs-active {% endif %}">
                            Home
                        </a>
                    </li>
                    <li class="cs-li">
                        <a href="/services/" class="cs-li-link {% if page.url == "/services/" %} cs-active {% endif %}">
                            Our Services
                        </a>
                    </li>


                                        <li class="cs-li">
                        <a href="/pricing/" class="cs-li-link {% if page.url == "/pricing/" %} cs-active {% endif %}">
                            Pricing
                        </a>
                    </li>



                 
                       <!--Copy and paste this cs-dropdown list item and replace any .cs-li with this cs-dropdown group to make a new dropdown and it will work-->
                    <li class="cs-li">
                        <a href="/photos/" class="cs-li-link {% if page.url == "/photos/" %} cs-active {% endif %}">
                           Photos
                        </a>
                    </li>
                      <li class="cs-li">
                        <a href="/contact/" class="cs-li-link {% if page.url == "/contact/" %} cs-active {% endif %}">
                            Contact Us
                        </a>
                    </li>
                </ul>
            </div>