<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<style>
  /*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #gallery-1897 {
    padding: var(--sectionPadding);
    background-color: #f6eddf;
    /* stops the cs-graphics from causing an overflow */
    overflow: hidden;
    position: relative;
  }
  #gallery-1897 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
    position: relative;
  }
  #gallery-1897 .cs-content {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    z-index: 1;
  }
  #gallery-1897 .cs-title {
    max-width: 25ch;
    margin: 0;
  }
  #gallery-1897 .cs-button-solid {
color:white;
    background-color: var(--secondary);

  }
  #gallery-1897 .cs-button-solid:before {
    content: "";
    width: 0;
    height: 100%;
    background: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #gallery-1897 .cs-button-solid:hover {
    color: #fff;
  }
  #gallery-1897 .cs-button-solid:hover:before {
    width: 100%;
  }
  #gallery-1897 .cs-gallery {
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    z-index: 1;
  }
  #gallery-1897 .cs-item {
    width: 100%;
    /* 16px - 32px */
    padding: clamp(1rem, 4vw, 2rem);
    background-color: #faf6f2;
    /* 16px - 32px */
    border-radius: 1rem;
    display: grid;
    /* 8px - 16px */
    column-gap: clamp(0.5rem, 2vw, 1rem);
    row-gap: 1rem;
  }
  #gallery-1897 .cs-item-text {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--headerColor);
    grid-column: span 2;
  }
  #gallery-1897 .cs-picture-group {
    /* 160px - 320px */
    min-height: clamp(10rem, 23vw, 20rem);
    overflow: hidden;
    border-radius: 1rem;
    grid-column: span 1;
    position: relative;
  }
  #gallery-1897 .cs-picture {
    width: 100%;
    height: 100%;
    display: block;
  }
  #gallery-1897 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
  }
  #gallery-1897 .cs-tag {
    font-size: 0.875rem;
    line-height: 1.5em;
    padding: 0.25rem 0.75rem;
    background: rgba(0, 0, 0, 0.24);
    color: var(--bodyTextColorWhite);
    border: 1px solid var(--bodyTextColorWhite);
    border-radius: 1.875rem;
    position: absolute;
    /* 8px - 16px */
    bottom: clamp(0.5rem, 2vw, 1rem);
    left: clamp(0.5rem, 2vw, 1rem);
    backdrop-filter: blur(8px);
  }
  #gallery-1897 .cs-graphic {
    /* 500px - 835px */
    width: clamp(31.25rem, 60vw, 52.1875rem);
    /* 453px - 757px */
    height: clamp(28.3125rem, 55vw, 47.3125rem);
    object-fit: cover;
    position: absolute;
    z-index: 0;
    opacity: 0.2;
  }
  #gallery-1897 .cs-graphic-top {
    top: 0;
    right: -8.875rem;
  }
  #gallery-1897 .cs-graphic-bottom {
    bottom: 0;
    left: 0;
  }
}
/* Tablet - 600px */
@media only screen and (min-width: 37.5rem) {
  #gallery-1897 .cs-content {
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  #gallery-1897 .cs-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
  #gallery-1897 .cs-graphic-top {
    right: -8.375rem;
    transform: initial;
  }
  #gallery-1897 .cs-graphic-bottom {
    left: -7.5rem;
    transform: initial;
  }
}
/* Desktop - 1600px */
@media only screen and (min-width: 100rem) {
  #gallery-1897 .cs-graphic-top {
    margin-left: 15rem;
    left: 50%;
  }
  #gallery-1897 .cs-graphic-bottom {
    margin-right: 16.25rem;
    right: 50%;
    left: initial;
  }
}
                                
</style>

<section id="gallery-1897">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper" style="color: var(--secondary);">Photos of Our Work</span>
                <h2 class="cs-title" style="max-width: 1200px;">Stunning Transformations of Bathtubs We’ve Restored in Warren, MI & Metro Detroit</h2>
            </div>
           
        </div>
        <!--Gallery-->
        <div class="cs-gallery">
            <div class="cs-item">
                <p class="cs-item-text">From chipped and stained to sleek and like new. This clawfoot tub was fully restored in just one day with our professional bathtub refinishing service in Warren, MI.</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/1.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/1.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/1.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/2.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/2.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/2.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">From peeling and worn to smooth and spotless. This fiberglass tub was completely restored in one day with our expert bathtub resurfacing service in Warren, MI.</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/4.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/4.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/4.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/3.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/3.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/3.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">From outdated and orange to clean and modern. This old tile and tub combo was fully refinished with a sleek, stone look coating. Giving the entire bathroom a fresh, contemporary feel in just one day.</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/5.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/5.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/5.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/6.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/6.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/6.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
            <div class="cs-item">
                <p class="cs-item-text">From faded pink tile to crisp and clean white. This vintage bathroom was updated with our professional tile refinishing service. Restoring the classic black and white style without replacing a single tile.</p>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/7.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/7.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/7.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">Before</span>
                </div>
                <div class="cs-picture-group">
                    <picture class="cs-picture">
                        <source media="(max-width: 600px)" srcset="/assets/images/8.jpg">
                        <source media="(min-width: 601px)" srcset="/assets/images/8.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/8.jpg" alt="gallery" width="305" height="400">
                    </picture>
                    <span class="cs-tag">After</span>
                </div>
            </div>
        </div>
    </div>
    <img class="cs-graphic cs-graphic-top" src="/assets/images/logo.svg" alt="graphic" width="517" height="469" loading="lazy" decoding="async" aria-hidden="true" >
    <img class="cs-graphic cs-graphic-bottom" src="/assets/images/logo.svg" alt="graphic" width="517" height="469" loading="lazy" decoding="async" aria-hidden="true" >

<div style="text-align: center; margin-top: 40px;">
          {% include 'components/cta_button.html' %}
</div>
  </section>
                                