<!-- ============================================ -->
<!--                   Quote                      -->
<!-- ============================================ -->

<style>
    /*-- -------------------------- -->
<---           Quote            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #quote-560 {
        padding: var(--sectionPadding);
        background-color: #fff;
    }
    #quote-560 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        /* 48px - 64px */
        gap: clamp(3rem, 6vw, 4rem);
    }
    #quote-560 .cs-content {
        /* set text align to left if content needs to be left aligned */
        text-align: left;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* centers content horizontally, set to flex-start to left align */
        align-items: flex-start;
        /* 16px - 20px */
        gap: clamp(1rem, 2vw, 1.25rem);
    }


    #quote-560 .cs-quote {
        /* 31px - 49px */
        font-size: clamp(1.9375rem, 5.1vw, 3.0625rem);
        line-height: 1.2em;
        font-weight: 900;
        margin: 0;
        color: var(--bodyTextColorWhite);
    }
    #quote-560 .cs-name {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.7vw, 1.25rem);
        line-height: 1.2em;
        font-weight: 700;
        text-transform: uppercase;
        margin: 0;
        color: var(--secondary);
        display: block;
        letter-spacing: 0.01em;
    }
}

                                
</style>

<section id="quote-560">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">⭐⭐⭐⭐⭐</span>
            <p class="cs-title" style="color:black; max-width: 1200px;">
               “I was ready to rip out my old tub, but Pro Tubs LLC saved me thousands of dollars" 

            </p>
            <SPAN class="cs-topper" style="color: black;">They showed up right on time, were super respectful of my home, and had the whole thing done in just a few hours. Now it looks brand new and I didn’t have to deal with any remodeling mess. Highly recommend!”</SPAN>
        <DIV class="cs-text">- Warren, MI Homeowner</DIV>
        </div>
    </div>
</section>
                                